body            { font-family: sans-serif; background: #eee; }
a      { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1		        { color: black; }
h1.detailView   { color: white; }
h2              { font-size: 1.2em; }

.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }

.containerFoodType { height: 100px; overflow-y: scroll; }


input[type=text].mainsearch {
	display:block;
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 70%;
}


[id^="togList"],                        /* HIDE CHECKBOX */
[id^="togList"] ~ .list,                /* HIDE LIST */
[id^="togList"] + label  span + span,   /* HIDE "Collapse" */
[id^="togList"]:checked + label span{   /* HIDE "Expand" (IF CHECKED) */
  display:none;
}
[id^="togList"]:checked + label span + span{
  display:inline-block;                 /* SHOW "Collapse" (IF CHECKED) */
}
[id^="togList"]:checked ~ .list{
  display:block;                        /* SHOW LIST (IF CHECKED) */
}

/* Style for Restaurant instances */
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

header {background: black;color:white;}
footer {background: #aaa;color:white;}

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;
    -webkit-flex: 1 auto;
    flex:1 10%;
    -webkit-order:1;
    order:1;
    }

    .article {-webkit-flex:5 0px;
    flex:5 0px;
    -webkit-order:2;
    order:2;
     }

    footer {
    -webkit-order:3;
    order:3;
    }
}
/* End restaurant Instances */


/* About Page */


.thumbnail_container {
    position: relative;
    width: 100%;
    padding-bottom: 100%; <!-- matching this to above makes it square -->
    float:left;
    margin-bottom: 15px;
}

.thumbnail {
    position:absolute;
    width:100%;
    height:100%;
    background-color: #eeeeee;
    border: 0px;
}
.thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

img.aboutPic{
    max-height:100%;
    max-width:100%;

/* End About */