{% extends "layout.html" %}
{% block body %}
    <div class="title" style = "text-align: center; margin-bottom: 30px;">
            <h1 id="title1">Meet the Appetizers</h1>
            <br>
            <p id="description" style = "margin:0 auto; max-width: 400px;">Welcome to FoodCloseTo.me! This site is intended for foodies looking to find the best restaurants and locations for whatever your palette desires, allowing searches for restaurant, food type, location, and review.</p>
    </div>
    <div class = "container">
    <div class="row" style = "text-align: center; margin-bottom: 30px;">
        
            <div class="col-sm-3" style = "text-align: center; margin-bottom: 30px;">
                
                <div class="thumbnail_container">
                  <div class="thumbnail">
                      <img class = "aboutPic" src = "{{ url_for('static', filename='img/edwin.jpg') }}">
                  </div>
                </div>
                <h2>Edwin Bejarano</h2>
                <p>*description*</p>
                <p><strong>*role*</strong></p>
                <p><strong>Commits: </strong></p>
                <p><strong>Issues:</strong></p>
                <p><strong>Unit tests:</strong></p>
            </div>
            <div class="col-sm-3" style = "text-align: center; margin-bottom: 30px;">
                <div class="thumbnail_container">
                  <div class="thumbnail">
                      <img class = "aboutPic" src = "{{ url_for('static', filename='img/pablo.jpeg') }}">
                  </div>
                </div>
                <h2>Pablo Eckardt Salazar</h2>
                <p>*description*</p>
                <p><strong>*role*</strong></p>
                <p><strong>Commits: </strong></p>
                <p><strong>Issues:</strong></p>
                <p><strong>Unit tests:</strong></p>
            </div>
            <div class="col-sm-3" style = "text-align: center; margin-bottom: 30px;">
                <div class="thumbnail_container">
                  <div class="thumbnail">
                      <img class = "aboutPic" src = "{{ url_for('static', filename='img/parker.jpg') }}">
                  </div>
                </div>
                <h2>Parker Kruzel</h2>
                <p>*description*</p>
                <p><strong>*role*</strong></p>
                <p><strong>Commits: </strong></p>
                <p><strong>Issues:</strong></p>
                <p><strong>Unit tests:</strong></p>
            </div>
            <div class="col-sm-3" style = "text-align: center; margin-bottom: 30px;">
                <div class="thumbnail_container">
                  <div class="thumbnail">
                      <img class = "aboutPic" src = "{{ url_for('static', filename='img/audric.jpg') }}">
                  </div>
                </div>
                <h2>Audric Terry</h2>
                <p>*description*</p>
                <p><strong>*role*</strong></p>
                <p><strong>Commits: </strong></p>
                <p><strong>Issues:</strong></p>
                <p><strong>Unit tests:</strong></p>
            </div>
    </div>
      <div class="row" style = "text-align: center; margin-bottom: 30px;">
        <div class="col-sm-4"> 
          <div class="title">
            <h1>Stats</h1>
          </div>
          <p>No. of commits:</p>
          <p>No. of issues:</p>
          <p>No. of unit tests:</p>
          <p>*Link to Apiary page*</p>
          <p><a class="stats_link" href="https://github.com/PabloEckardt/idb/issues">GitHub Issue Tracker</a></p>
          <p><a class="stats_link" href="https://github.com/PabloEckardt/idb">GitHub Repo</a></p>
        </div>

        <div class="col-sm-8"> 
          <div class="title">
            <h1>Data</h1>
          </div>
          <p><a class="stats_link" href ="https://www.yelp.com/developers">yelp Fusion</a>- API from which data was obtained.</p>
       </div>
    </div>
    <div class="row">
       <div class="col-sm-12 stats" id="tools">
          <div class="title">
            <h1>Tools</h1>
          </div>
          <p>Bootstrap: An HTML, CSS, and JavaScript framework used heavily to design and style all of the pages of the site.</p>
          <p>Flask: A Python web framework powering this web application.</p>   
          <p>Slack: A messaging application used for communication, with integration to our GitHub repositories.</p>
          <p>GitHub: A web-based git repository hosting service that hosts the repository for this project.</p>
          <p>Apiary: An API documentation tool.</p>
           <p>Trello: A web application used for organizing projects and delegating tasks.</p>
       </div>
      </div> <!-- end of row for info -->
    </div>
    {% endblock %}


}