{% extends "layout.html" %}
{% block body %}

<body>
<div class="flex-container">
<header>
  <h1 class = "detailView">{{ instance["food_type"] }}</h1>
</header>

<nav class="nav">
<ul>
  <li><a href="#">Best Location for {{instance["food_type"] }} restaurants</a></li>
  <li><a href="#">Best Restaurants for {{ instance["food_type"] }}</a></li>
</ul>
</nav>

<article class="article">
    <p> <img src="{{ url_for('static', filename='img/' + 'temp_image.png')}}" align="right"> </p>

  <h2> Average Rating </h2>
  <p> {{ instance["average rating"] }} </p>

  <h2> Average Price </h2>
  <p> {{ instance["average price"] }} </p>

  <h2> Highest Rated Restaurant </h2>
  <p> {{ instance["highest_rated_restaurant"] }} </p>

  <h2> Best Location for {{ instance["food_type"] }} </h2>
  <p> "{{ instance["best_location"] }}" </p>
</article>

<footer>SWE Phase 1</footer>
</div>

</body>

{% endblock %}
