<!doctype html>
<title>Appetite</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class = "page">

	<div class = "navbar" style = "text-align: right;">
	<a href = "restaurants" style = "padding-right:20px;">Restaurants</a>
	<a href = "javascript:void(0);" style = "padding-right:20px;">Locations</a>
	<a href = "javascript:void(0);" style = "padding-right:20px;">Food Types</a>
	<a href = "javascript:void(0);" style = "padding-right:20px;">Reviews</a>
	</div>

	{% block grid %}{% endblock %}

</div>	