{% extends "layout.html" %}
{% block body %}

<body>
<div class="flex-container">
<header>
  <h1 class = "detailView">{{ instance["zip"] }}</h1>
</header>

<nav class="nav">
<ul>
  <li><a href="#">Go to {{ instance["popular_food_type"] }}</a></li>
  <li><a href="#">Go to {{ instance["highest_rated_restaurant"] }}</a></li>
  <li><a href="#">Go to {{ instance["cheapest_restaurant"] }}</a></li>
</ul>
</nav>

<article class="article">
  <!-- <p> <img src="{{ url_for('static', filename='img/' + 'temp_image.png')}}" align="right"> </p>
  -->
  <h2> Average Price </h2>
  <p> {{ instance["average_price"] }} </p>

  <h2> Average Rating </h2>
  <p> {{ instance["average_rating"] }} </p>

  <h2> Popular Food Type </h2>
  <p> {{ instance["popular_food_type"] }} </p>

  <h2> Highest Rated Restaurant </h2>
  <p> {{ instance["highest_rated_restaurant"] }} </p>

   <h2> Cheapest Restaurant </h2>
   <p> {{ instance["cheapest_restaurant"] }} </p>
</article>

<footer>SWE Phase 1</footer>
</div>

</body>

{% endblock %}
