{% extends "layout.html" %}
{% block body %}

<body>
<div class="flex-container">
<header>
  <h1 class = "detailView">{{ instance["name"] }}</h1>
</header>

<nav class="nav">
<ul>
  <li><a href="#">List restaurants in {{ instance["zip"] }} </a></li>
  <li><a href="#">List Food Types in {{ instance["zip"] }}</a></li>
</ul>
</nav>

<article class="article">
  <p> <img src="{{ url_for('static', filename='img/' + instance['temp_image.png'])}}" align="right"> </p>
  <h2> Location </h2>
  <p> {{ instance["zip"] }} </p>

  <h2> Average Price </h2>
  <p> {{ instance["average price"] }} </p>

  <h2> Average Rating </h2>
  <p> {{ instance["average rating"] }} </p>

  <h2> Highest Rated Restaurant </h2>
  <p> "{{ instance["highest_rated_restaurant"] }}" </p>

   <h2> Lowest Rated Restaurant </h2>
   <p> "{{ instance["lowest_rated_restaurant"] }}" </p>
</article>

<footer>SWE Phase 1</footer>
</div>

</body>

{% endblock %}