{% extends "layout.html" %}
{% block body %}

<body>
<div class="flex-container">
<header>
  <h1 class = "detailView">{{ instance["name"] }}</h1>
</header>

<nav class="nav">
<ul>
  <li><a href="#">More {{instance["food type"] }} restaurants</a></li>
  <li><a href="#">More Reviews</a></li>
</ul>
</nav>

<article class="article">
  <p> <img src="{{ url_for('static', filename='img/' + instance['img'])}}" align="right"> </p>
  <h2> Food Type </h2>
  <p> {{ instance["food type"] }} </p>

  <h2> Rating </h2>
  <p> {{ instance["rating"] }} </p>

  <h2> Price </h2>
  <p> {{ instance["price"] }} </p>

  <h2> Location </h2>
  <p> {{ instance["location"] }}, {{ instance["zip"] }} </p>

  <h2> Hours </h2>
  <p> {{ instance["hours"] }} </p>

  <h2> Last Review </h2>
  <p> "{{ instance["last review"] }}" </p>
</article>

<footer>SWE Phase 1</footer>
</div>

</body>

{% endblock %}
