{% extends "layout.html" %}
{% block body %}

<body>
<div class="flex-container">
<header>
  <h1 class = "detailView">{{ instance["name"] }}</h1>
</header>
<div class="col-sm-12">


<article class="article">
<div class = "row">
<div class = "col-sm-4">
 <div class="thumbnail_container">
  <div class="thumbnail">
  <img src="{{ url_for('static', filename='img/' + instance['img'])}}" align="right">
  </div>
 </div>
 </div>
 <div class = "col-sm-8">
 <nav class="nav">
<ul>
  <li><a href="/Food_Types/{{instance['food_type'] }}">Go to {{instance["food_type"] }}</a></li>
  <li><a href="/Locations/{{instance['zip'] }}">Go to {{instance["zip"] }}</a></li>
  <li><a href="/Reviews/{{instance['id']}}">Go to Review</a></li>
</ul>
</nav>
  <h2> Food Type </h2>
  <a href="/Food_Types/{{instance['food_type'] }}"> {{ instance["food_type"] }} </a>

  <h2> Rating </h2>
  <p> {{ instance["rating"] }} </p>

  <h2> Price </h2>
  <p> {{ instance["price"] }} </p>

  <h2> Location </h2>
  <p> {{ instance["location"] }}, {{ instance["zip"] }} </p>

  <h2> Hours </h2>
  <p> {{ instance["hours"] }} </p>

  <h2> Recent Review </h2>
  <p> "{{ instance["last_review"] }}" </p>
  </div>
</article>
</div>
</div>
<footer></footer>
</div>

</body>

{% endblock %}
