{% extends "layout.html" %}
{% block body %}

<div class = "container" style = "margin:auto;">
	<div class="row">
	<div class = "col-sm-3">
		Filters:
		<br>
		<a role="button" data-toggle="collapse" href="#priceFilter" aria-expanded="false" aria-controls="priceFilter">
		  Price
		</a><br>

		<div class="collapse" id="priceFilter">
		  <div class="btn-group" data-toggle="buttons">
		  		<label class="btn btn-primary">
		    		<input type="checkbox" autocomplete="off"> $
		  		</label>
		  		<label class="btn btn-primary">
		    		<input type="checkbox" autocomplete="off"> $$
		  		</label>
		  		<label class="btn btn-primary">
		    		<input type="checkbox" autocomplete="off"> $$$
		  		</label>
			  </div>
		</div>

		<a role="button" data-toggle="collapse" href="#reviewFilter" aria-expanded="false" aria-controls="reviewFilter">
		  Rating
		</a> <br>

		<div class="collapse" id="reviewFilter">
		  <div class="btn-group" data-toggle="buttons">
		  		<label class="btn btn-primary">
		    		<input type="checkbox" autocomplete="off"> 	&#9734;
		  		</label>
		  		<label class="btn btn-primary">
		    		<input type="checkbox" autocomplete="off"> 	&#9734;
		  		</label>
		  		<label class="btn btn-primary">
		    		<input type="checkbox" autocomplete="off"> 	&#9734;	
		  		</label>
		  		<label class="btn btn-primary">
		    		<input type="checkbox" autocomplete="off"> 	&#9734;
		  		</label>
		  		<label class="btn btn-primary">
		    		<input type="checkbox" autocomplete="off"> 	&#9734;
		  		</label>
			  </div>
		</div>

		<a role="button" data-toggle="collapse" href="#foodtypeFilter" aria-expanded="false" aria-controls="foodtypeFilter">
		  Food Type
		</a> <br>

		<div class="collapse" id="foodtypeFilter">
		  <div class="containerFoodType">
		    <input type="checkbox" /> American <br />
		    <input type="checkbox" /> French <br />
		    <input type="checkbox" /> Italian <br />
		    <input type="checkbox" /> German <br />
		    <input type="checkbox" /> Mexican <br />
			</div>
		</div>

		<a role="button" data-toggle="collapse" href="#distanceFilter" aria-expanded="false" aria-controls="distanceFilter">
		  Distance
		</a> <br>

		<div class="collapse" id="distanceFilter">
		  <input type = "text" size = "2" > miles from <input type = "text" size = "5">
		</div>

		<a role="button" data-toggle="collapse" href="#hoursFilter" aria-expanded="false" aria-controls="hoursFilter">
		  Hours
		</a> <br>

		<div class="collapse" id="hoursFilter">
		  HOURS
		</div>

		<br><br><br>
		Sort By:<br>
		<select>
		  <option value="Name">Name</option>
		  <option value="Rating">Rating</option>
		  <option value="Distance">Distance</option>
		  <option value="Price">Price</option>
		</select>
	</div>

	<div class = "col-sm-9">
		<div class="row">
		{% for element in model_elements %}

		<a href = "/Restaurants/Review/{{ element['name'] }}">
		<div class = "col-sm-4" style = "height: 100px;">
			<h1>{{ element["name"] }}</h1>
		</div>
		</a>
		{% endfor %}
		</div>
	</div>
	
</div>

{% endblock %}
